* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.75rem;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-shadow: 2px 2px 5px greenyellow;
}

.header button {
  width: 200px;
  background-color: green;
  margin-top: 20px;
  font-size: 1.2rem;
}

.grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  justify-content: center;
  padding: 50px;
}

.card {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.card img {
  width: 150px;
  height: 150px;
  transition: transform 0.4s;
}

.card.matched {
  pointer-events: none;
}

.card.rotate img {
  transform: rotateY(180deg);
}

#winner {
  display: none;
}

@media screen and (max-width: 630px) {
  body {
    font-size: 1.4rem;
  }

  .header {
    margin-top: 30px;
    text-align: center;
  }

  .header button {
    width: 150px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .card {
    width: 100px;
    height: 100px;
  }

  .card img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 940px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .header {
    text-align: center;
  }
}
